body, body * {
    max-height: 1000000px;
}
html,body{-webkit-text-size-adjust: 100%;font-size: 16px;}
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
    outline: none;
    border: 0 none;
}
/* for ie */
/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
/* body,
button, input, select, textarea { 
    font: 14px/1 PingFang SC,Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; 
} */
/* 用 ascii 字符表示，使得在任何编码下都无问题 */
/* h1 { font-size: 18px; } */
/* 18px / 12px = 1.5 */
/* h2 { font-size: 16px; } */
/* h3 { font-size: 14px; } */
/* h4, h5, h6 { font-size: 100%; } */

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 14px; }
/* 重置列表元素 */
ul, ol { list-style: none; }

a { text-decoration: none; }
a:hover { text-decoration: none; }


q:before, q:after { content: ''; }
/* 重置表单元素 */

fieldset, img { border: none; }

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-input-placeholder {
    font-size: 16px;
    color: rgba(162, 162, 162, 1);
}

datepicker::-webkit-input-placeholder {
    color: #333;
}


/*common*/
@-webkit-keyframes btnRotate {
    0% {
        -webkit-transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg)
    }
}
@keyframes btnRotate {
    0% {
        -webkit-transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg)
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateY(100%)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}
@keyframes slideIn {
    0% {
        -webkit-transform: translateY(100%)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.uni-input-input{
    margin:0;
    padding:0;
}
.uni-input-wrapper{
    display: inline-block;
}

.bg-ff {
    background-color: #fff;
}

.uni-input {
    padding: 0!important;
}

/*@media only screen and (device-width: 375px) and (device-height: 812px) {*/
/*@media only screen and (device-width: 375px) and (device-height: 812px){*/
/*    #rybHomepageTab {*/
/*        padding-bottom: 22px;*/
/*    }*/
/*}*/
/*@media screen and (device-width: 375px) and (device-width: 812px) {*/
/*    body {*/
/*        background-color:lightblue;*/
/*    }*/
/*}*/
/*    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {*/
/*        padding-top: 0.74rem;*/
/*    }*/
/*    @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)  {*/
/*       padding-top:  0 .74rem;*/
/*    }*/
/*}*/
